.tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
 color: white;
  
}

.tree ul li {
  position: relative;
  margin-left: 20px;
  padding-left: 20px;
}

.tree ul li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1px;
  background: #ccc; /* Vertical Line */
}

.tree ul li span {
  display: inline-block;
  position: relative;
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
