*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.grid-container{
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 'sidebar header header header'
  'sidebar main main main';
  height:100vh
}
.icon{
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header{
  vertical-align:middle;
  line-height:1px;
  font: size 20px;
}
.icon,.icon_header{
  margin-right: 5px;
}
/*header*/
.header{
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0,0,0,0.35);

}