@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  position: relative;
  font-style: normal;
}
body{
  height: 100vh;
  width: 100vw;
  background-color:#E8E8E8;
  color:black;
  position: relative;
  overflow-x: hidden;  
  /* main */
  
}



